@font-face {
  font-family: "PTSerif"; /* Choose a unique font family name */
  src: url("fonts/PT-Serif/PTSerif-Regular.ttf") format("truetype"); /* WOFF2 format */
}
@font-face {
  font-family: "Baskerville"; /* Choose a unique font family name */
  src: url("fonts/Libre-Baskerville/LibreBaskerville-Regular.ttf")
    format("truetype"); /* WOFF2 format */
}

@font-face {
  font-family: "Montserrat"; /* Choose a unique font family name */
  src: url("fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype"); /* WOFF2 format */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PTSerif";
}

.content {
  padding: 0 150px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.logo-title {
  font-size: 58px;
  font-family: "Baskerville";
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu-item {
  padding: 0 0 0 30px;
  font-size: 29px;
  list-style-type: none;
  font-family: "Montserrat";
}

.title {
  position: relative;
  transform: translateY(100%);
  font-size: 158px;
  font-weight: 600;
}
.home {
    /* position: absolute; */
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-content {
  flex-grow: 1;
  margin-top: 250px;
  width: 100%;
}
.sub-title {
  font-size: 46px;
  font-weight: 600;
}
.for {
  font-size: 32px;
  line-height: 40px;
  margin-right: 75px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 34px;
}

.right-content {
  background: grey;
  width: 100%;
}

/* services */
.services {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 32px;
  line-height: 40px;
}
.ser-left {
  flex-grow: 1;
  width: 100%;
}
.ser-title {
  font-size: 83px;
  margin: 40px 0;
  font-family: "Baskerville";
}
.ser-des {
  font-size: 32px;
  margin-right: 60px;
}
.ser-item-text {
  margin-left: 20px;
}
.ser-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}
.ser-item {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}
.ser-img-container {
  display: flex;
  height: 100%;
  align-items: end;
}
.ser-item-image {
  width: 160px;
  height: 170px;
  background: grey;
}

.item-date {
  font-size: 50px;
  font-family: "Baskerville";
}
.item-title {
  font-weight: bold;
  font-size: 38px;
  margin: 20px 0;
}
/* about us */
.about-us {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 32px;
  line-height: 40px;
}
.ab-title {
  font-size: 83px;
  font-family: "Baskerville";
}
.ab-left {
  flex-grow: 1;
  width: 100%;
}
.ab-right {
  flex-grow: 1;
  width: 100%;
}
.ab-image {
  background: grey;
  height: 500px;
  width: 100%;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1550px) {
  .content {
    padding: 0 50px;
  }
  .logo-title {
    font-size: 45px;
  }
  .menu-item {
    padding: 0 0 0 22px;
    font-size: 15px;
  }

  .title {
    position: relative;
    transform: translateY(75%);
    font-size: 80px;
  }
  .home {
  }
  .left-content {
    flex-grow: 1;
    margin-top: 75px;
    width: 100%;
  }
  .sub-title {
    font-size: 35px;
  }
  .for {
    font-size: 22px;
    line-height: 25px;
    margin-right: 60px;
  }
  .button-container {
    font-size: 25px;
  }

  /* services */
  .services {
    margin-top: 32px;
    font-size: 22px;
    line-height: 25px;
  }
  .ser-title {
    font-size: 60px;
    margin: 30px 0;
  }
  .ser-des {
    font-size: 22px;
    margin-right: 40px;
  }
  .ser-item {
    margin: 35px 0;
  }

  .ser-item-image {
    width: 120px;
    height: 130px;
  }
  .item-date {
    font-size: 33px;
  }
  .item-title {
    font-size: 30px;
    margin: 15px 0;
  }
  /* about us */
  .about-us {
    margin-top: 32px;
    font-size: 22px;
    line-height: 25px;
  }
  .ab-title {
    font-size: 60px;
  }
  .ab-image {
    background: grey;
    height: 380px;
    width: 100%;
  }
}

@media screen and (max-width: 1350px) {
  .content {
    padding: 0 50px;
  }
  .logo-title {
    font-size: 29px;
  }
  .menu-item {
    padding: 0 0 0 15px;
    font-size: 15px;
  }
  .title {
    transform: translateY(75%);
    font-size: 50px;
  }
  .home {
  }
  .left-content {
    flex-grow: 1;
    margin-top: 50px;
    width: 100%;
  }
  .sub-title {
    font-size: 23px;
  }
  .for {
    font-size: 16px;
    line-height: 20px;
    margin-right: 40px;
  }
  .button-container {
    font-size: 17px;
  }

  /* services */
  .services {
    margin-top: 25px;
    font-size: 16px;
    line-height: 20px;
  }
  .ser-title {
    font-size: 40px;
    margin: 20px 0;
  }
  .ser-des {
    font-size: 16px;
    margin-right: 30px;
  }
  .ser-item {
    margin: 25px 0;
  }

  .ser-item-image {
    width: 80px;
    height: 85px;
  }
  .item-date {
    font-size: 25px;
  }
  .item-title {
    font-size: 19px;
    margin: 10px 0;
  }
  /* about us */
  .about-us {
    margin-top: 25px;
    font-size: 16px;
    line-height: 20px;
  }
  .ab-title {
    font-size: 40px;
  }
  .ab-image {
    background: grey;
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 20px;
  }
  .logo-title {
    font-size: 20px;
  }
  .title {
    transform: translateY(30%);
    font-size: 40px;
  }
  .description {
    flex-direction: column;
  }
  .services {
    flex-direction: column;
  }
  .about-us {
    flex-direction: column;
  }
  .for {
    margin-right: 20px;
  }
}
